<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>Document</title>
 <link
    href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.11.min.css"
    rel="stylesheet" type="text/css">
    <link
    href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.11.min.css"
    rel="stylesheet" type="text/css">
    <link
    href="http://cdn.pydata.org/bokeh/release/bokeh-tables-0.12.11.min.css"
    rel="stylesheet" type="text/css">
<script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.11.min.js"></script>
<script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.11.min.js"></script>
<script src="http://cdn.pydata.org/bokeh/release/bokeh-tables-0.12.11.min.js"></script>
<body>
 <h3>testing bokeh --> flask</h3>
 <div>
  {{script|indent(4)|safe}}
 </div>
</body>
</html>

